body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffebee; /* 優しいピンク */
    color: #333;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    color: #d32f2f; /* 赤系 */
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    background-color: #f06292; /* ピンク系 */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e91e63; /* 少し濃いピンク */
}
