body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007acc;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #007acc;
    color: white;
}

button:hover {
    background-color: #005f99;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.difficulty {
    width: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
}

.difficulty.selected {
    border-color: blue;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
