.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.difficulty {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

.difficulty.selected {
    border-color: blue;
}
