body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff; /* 明るい青系の背景 */
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
