body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007acc;
}

input, button {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #007acc;
    color: white;
    padding: 15px 20px;
}

button:hover {
    background-color: #005f99;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.counter button {
    font-size: 20px;
    padding: 10px 20px;
}

.counter input {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.difficulty {
    width: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}

.difficulty span {
    display: block;
}

.difficulty.selected {
    border-color: blue;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    flex: 1;
    font-size: 18px;
    padding: 15px;
}

#backButton {
    margin-right: 10px;
}

#nextButton {
    margin-left: 10px;
}
